#Data Types and Structures Questions

1. What are data structures, and why are they important?
  - Data structure is a way of organizing and storing data so that it can be accessed and manipulated efficiently.
  - They are important because they organize, store, and manage data efficiently, helping to write faster, cleaner, and more effective code. Would you like a quick overview of common data structures?

2. Explain the difference between mutable and immutable data types with examples?
  - Mutable data types can be modified after creation
     - Example: list, dictionary, set
  - Immutable data types cannot be changed after creation
      - Example: Strings, Tuples

3. What are the main differences between lists and tuples in Python?
The main differences between lists and tuples in Python are:

  - Mutability
    - Lists are mutable, we can modify, add, or remove elements after creating them.
    - Tuples are immutable, it's once created, their size and contents cannot be changed.

  - Syntax
    - Lists are defined using square brackets[].
    - Tuples are defined using parentheses().

  - Usage
    - Lists are typically used when you need a collection of items that can change dynamically.
     - Tuples are used for fixed collections of items, especially when you want to ensure data remains unchanged.

4. Describe how dictionaries store data?
  - Dictionaries store data as key-value pairs, where each unique key maps to a specific value. They use a hash table for quick retrieval, allowing fast access, addition, or modification of data based on the key.

5. Why might you use a set instead of a list in Python?
  - we might use a set instead of a list in Python because sets automatically eliminate duplicates and allow for faster membership testing (checking if an item exists), making them ideal for ensuring unique items and performing quick lookups.

6. What is a string in Python, and how is it different from a list?
  - a string is a sequence of characters used to represent text, enclosed in quotes (single(' '), double(" "), or triple(''' ''').
  - Key Difference:
      - Strings are immutable but Lists are immutable.
      - Strings are typically used for text data, whereas lists can store any data types and are used for collections of items.
      - strings are represented in quotes " ", whereas lists are represented in Square bracket [ ].

7. How do tuples ensure data integrity in Python?
  - Tuples ensure data integrity in Python because they are immutable, meaning once created, their contents cannot be changed. This prevents accidental modification of data, ensuring that the information stored in a tuple remains consistent and reliable throughout the program.

8. What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table is a data structure that stores data using key-value pairs, allowing for fast data retrieval. In Python, dictionaries are implemented as hash tables, which enable quick access, insertion, and deletion of data based on keys through hashing.

9. Can lists contain different data types in Python?
  - Yes, lists can contain different data types. we can mix integers, strings, floats, and other objects within the same list.

10. Explain why strings are immutable in Python?
  - Strings are immutable in Python to ensure data integrity and security. Once a string is created, it cannot be changed, which allows Python to optimize performance, safely share string objects, and prevent unintended modifications that could lead to bugs/error.

11. What advantages do dictionaries offer over lists for certain tasks?
  - Dictionaries offer faster data access because they use keys to directly locate values, making lookups, insertions, and deletions very efficient. Unlike lists, which require searching through elements, dictionaries provide quick, constant-time performance for key-based operations, making them ideal for tasks that need fast access to data by unique identifiers.

12. Describe a scenario where using a tuple would be preferable over a list?
  - A tuple is preferable over a list when you need to store a fixed collection of data that should not change, such as coordinates (e.g., (latitude, longitude) or a record that must remain constant. Since tuples are immutable, they help ensure data integrity and prevent accidental modifications.

13.  How do sets handle duplicate values in Python?
  - Sets automatically remove duplicate values. If we add duplicate elements to a set, only one instance of each unique value is stored. This makes sets useful for ensuring all elements are unique.

14. How does the “in” keyword work differently for lists and dictionaries?
  - For lists, the "in" keyword checks if an element exists by searching through the list (membership test).  
For dictionaries, "in" checks if a key exists in the dictionary, not the values.  

15. Can you modify the elements of a tuple? Explain why or why not?
  - No, we cannot modify the elements of a tuple because tuples are immutable. Once a tuple is created, its contents cannot be changed, added, or removed.

16. What is a nested dictionary, and give an example of its use case?
  - A nested dictionary is a dictionary that contains other dictionaries as its values. It is useful for representing complex data structures, like hierarchical or grouped data.

In [1]:
#USE CASE
students = {
    "student1": {"name": "Hariom", "grade": 87},
    "student2": {"name": "Harsh", "grade": 62}
}

In [5]:
students["student1"]

{'name': 'Hariom', 'grade': 87}

17. Describe the time complexity of accessing elements in a dictionary?
  - Accessing elements in a dictionary has an average time complexity of O(1), it is very fast and nearly constant time. This efficiency comes from the use of hash tables, which allow direct access to values using keys.

18. In what situations are lists preferred over dictionaries?
  - Lists are preferred over dictionaries when the order of elements matters or when we need to store a collection of items that are accessed by position. They are also useful for simple sequences, like a list of names or numbers, where key-value pairing isn't necessary.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - Dictionaries are considered unordered because they don't store items in a specific sequence (before Python 3.7). This means data is accessed using keys, not positions, and the order of items is not guaranteed.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
  - In a list, data is retrieved by position (index), which is ordered and accessed using numerical indices.  
  - In a dictionary, data is retrieved by key, which is unordered (before Python 3.7) and allows direct access to values using descriptive keys.

#Practical Questions

1. Write a code to create a string with your name and print it.

In [7]:
name = "Hariom"
print(name)

Hariom

2. Write a code to find the length of the string "Hello World".

In [8]:
a = "Hello World"
len(a)

11

3. Write a code to slice the first 3 characters from the string "Python Programming.

In [9]:
string = "Python Programming"
result = string[:3] # 0 to 2
print(result)

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [10]:
a = "Hello"
a.upper()

'HELLO'

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [11]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [12]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [13]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [14]:
my_list = [1, 2, 3, 4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [15]:
my_list = ["a,", "b", "c", "d"]
second_element = my_list[1]
print(second_element)

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [16]:
my_list = [10,20,30,40,50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [17]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [ ]:
12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [19]:
my_tuple = ("red", "green", "blue", "yellow")
second_to_last_element = my_tuple[1:]
print(second_to_last_element)

('green', 'blue', 'yellow')

In [ ]:
13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [20]:
my_tuple = (10, 20, 5, 15)
min_number = min(my_tuple)
print(min_number)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [21]:
my_tuple = ("dog", "cat", "rabbit")
index = my_tuple.index("cat")
print(index)

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [22]:
my_tuple = ("apple", "banana", "kiwi")
if "kiwi" in my_tuple:
    print("kiwi is in the tuple")
else:
    print("kiwi is not in the tuple")

kiwi is in the tuple

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [23]:
my_set = {"a","b","c"}
print(my_set)

{'b', 'c', 'a'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [24]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [27]:
my_set = {1,2,3,4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [29]:
set1 = {1,2,3}
set2 = {3,4,5}
union_set = set1 | (set2)
print(union_set)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [30]:
set1 = {1,2,3}
set2 = {2,3,4}
intersection_set = set1 & set2
print(intersection_set)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [31]:
my_dict = {"name": "Hariom", "age": 20, "city": "Delhi"}
print(my_dict)

{'name': 'Hariom', 'age': 20, 'city': 'Delhi'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [32]:
my_dict = {"name": "John", "age": 25}
d1 = {"country": "USA"}
my_dict.update(d1)
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [37]:
my_dict = {"name": "Alice", "age": 30}
my_dict["name"]

'Alice'

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [42]:
my_dict = {"name": "Bob", "age": 22, "city": "New York"}
my_dict.pop("age")  #age is removed
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [43]:
my_dict =  {"name": "Alice", "city": "Paris"}
if "city" in my_dict:
    print("city is in the dictionary")
else:
    print("city is not in the dictionary")

city is in the dictionary

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [44]:
my_list = [1,2,3,4,5]
my_tuple = (1,2,3,4,5)
my_dict = {"name": "Hariom", "age": 20, "city": "Delhi"}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'Hariom', 'age': 20, 'city': 'Delhi'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [46]:
my_list = [10, 50, 95, 15]
my_list.sort()
print(my_list)

[10, 15, 50, 95]

28. 28. Write a code to create a list with strings and print the element at the third index.

In [47]:
my_list = ["elephant", "dog", "cat", ]
third_element = my_list[2]
print(third_element)

cat

29. Write a code to combine two dictionaries into one and print the result.

In [48]:
dict1 = {"name": "Hariom", "age": 20}
dict2 = {"city": "Delhi", "country": "India"}
dict1.update(dict2) #update dict2 in dict1
print(dict1)

{'name': 'Hariom', 'age': 20, 'city': 'Delhi', 'country': 'India'}

30. Write a code to convert a list of strings into a set

In [52]:
my_list = ["dog","cat","cow"]
set(my_list)

{'cat', 'cow', 'dog'}